{%- comment -%}
Banner component for a page upper part
Only shows if specific data is defined
{%- endcomment -%}
{%- if title or bannerContent -%}
<section class="banner{% if pageId == "accueil" %} banner--accueil{% endif %}">
    {%- comment -%} Only shows if title is defined{% endcomment %}
    {%- if title %}
    <h1>{{ title }}</h1>
    {%- endif -%}
    {%- comment -%} Only shows if bannerContent is defined{% endcomment %}
    {%- if bannerContent %}
    <p>{{ bannerContent }}</p>
    {%- endif %}
</section>
{%- endif -%}