    </main>

    <footer class="footer">
        <p>This website was created for learning purposes. It is inspired by <a title="Example projects for Eleventy (github.com)" href="https://github.com/PacktPublishing/Eleventy-by-Example" target="_blank">this GitHub repository</a> and the course book <cite><a title="Search by ISBN (google.com)" href="https://www.google.com/search?q=9781804610497">Eleventy by example</a></cite>.</p>
    </footer>

</body>
</html>