<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <header class="site-header">
        <svg width="40px" height="40px" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;">
            <g>
                <g id="Layer1">
                    <path d="M2.25,34.049c22.989,4.302 42.832,3.195 59.5,-3.375c-0.297,8.163 -3.266,14.748 -9.125,19.625c-16.22,3.877 -28.715,3.526 -40.5,-0c-5.859,-5.184 -9.579,-10.561 -9.875,-16.25Z" style="fill:none;stroke:#000;stroke-width:2.6px;"/>
                    <path d="M3.065,38.174c23.326,3.512 42.852,2.366 58.34,-3.729" style="fill:none;stroke:#000;stroke-width:2.6px;"/>
                </g>
                <path d="M24.038,37.02c-1.308,-0.093 -2.322,-1.181 -2.322,-2.493c0,-5.504 0,-18.971 0,-18.982c0,-0.001 -0,-0.001 -0.001,-0.001c-0,-0 -0.001,0 -0.001,0.001c-0.009,-0 -0.092,-0 -0.161,-0c-0.065,-0 -0.127,0.021 -0.179,0.059c-0.528,0.391 -3.578,2.653 -6.057,4.493c-0.631,0.467 -1.471,0.54 -2.173,0.187c-0.701,-0.353 -1.143,-1.071 -1.143,-1.857c-0,-0.21 -0,-0.403 -0,-0.571c-0,-0.413 0.196,-0.801 0.528,-1.046c1.458,-1.076 5.544,-4.09 7.233,-5.336c0.485,-0.358 1.071,-0.55 1.673,-0.55c0.001,-0 0.001,-0 0.001,-0c2.867,-0 5.19,2.323 5.19,5.19c0,5.642 0,14.416 0,18.634c0,0.635 -0.263,1.241 -0.727,1.674c-0.464,0.433 -1.087,0.653 -1.72,0.609c-0.047,-0.004 -0.094,-0.007 -0.141,-0.011Zm21.988,-1.175c-0.601,0.114 -1.222,-0.047 -1.693,-0.437c-0.471,-0.391 -0.744,-0.971 -0.744,-1.583c0,-5.479 0,-18.265 0,-18.28c0,-0.001 -0,-0.001 -0.001,-0.001c-0,-0 -0.001,0 -0.001,0.001c-0.009,-0 -0.092,-0 -0.161,-0c-0.065,-0 -0.127,0.021 -0.179,0.059c-0.528,0.391 -3.578,2.653 -6.058,4.493c-0.63,0.467 -1.47,0.54 -2.172,0.187c-0.701,-0.353 -1.143,-1.071 -1.143,-1.857c-0,-0.21 -0,-0.403 -0,-0.571c-0,-0.413 0.196,-0.801 0.528,-1.046c1.458,-1.076 5.544,-4.09 7.233,-5.336c0.485,-0.358 1.071,-0.55 1.673,-0.55c0,-0 0.001,-0 0.001,-0c2.867,-0 5.19,2.323 5.19,5.19l0,16.752c0,1.457 -1.037,2.709 -2.469,2.979c-0.001,-0 -0.003,-0 -0.004,0Z" style="stroke:#000;stroke-width:0.27px;stroke-miterlimit:2;"/>
            </g>
        </svg>
        {% render "navigation", pageId: pageId %}
    </header>

    <main>