<nav>
    <ul>
        <li {% if pageId == "accueil" %}class="active"{% endif %}><a href="/">Accueil</a></li>
        <li {% if pageId == "a-propos" %}class="active"{% endif %}><a href="/a-propos">A propos</a></li>
    </ul>
</nav>